<nav class="navbar navbar-default headerContent">
  <div class="container-fluid headerClass">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gitter</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu" style="width:93%;float:left;padding:0">
      <ul class="nav navbar-nav navbar-center col-xs-12">
        <li (click)="cloneClick()">
          <a>
            <div><i class="fa fa-clone fa-2x"></i></div>
            <div>Clone</div>
          </a>
        </li>
        <li (click)="push()">
          <a>
            <div><i class="fa fa-toggle-up fa-2x"></i></div>
            <div>Push</div>
            <div>{{pushCount}}</div>
          </a>
        </li>
        <li>
          <a>
            <div><i class="fa fa-toggle-down fa-2x"></i></div>
            <div>Pull
              <div>{{pullCount}}</div>
            </div>
          </a>
        </li>
        <li (click)="commitBtnClick();">
          <a>
            <div><i class="fa fa-toggle-down fa-2x"></i></div>
            <div>Commit</div>
          </a>
        </li>
        <li>
          <a>
            <div><i class="fa fa-toggle-down fa-2x"></i></div>
            <div>Fetch</div>
          </a>
        </li>
        <li>
          <a>
            <div><i class="fa fa-toggle-down fa-2x"></i></div>
            <div>Branch</div>
          </a>
        </li>
        <li (click)="refresh()" class="refreshBtn">
          <a>
            <div><i class="fa fa-toggle-down fa-2x"></i></div>
            <div>Refresh</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class='container-fluid contentArea '>
  <div class="ui-grid-col-2 height100 borderRight" id="sidebar">
    <p-panelMenu [model]="branches"></p-panelMenu>
    <p-panelMenu [model]="tags"></p-panelMenu>
    <p-panelMenu [model]="remotes"></p-panelMenu>
    <p-panelMenu [model]="stashes"></p-panelMenu>
  </div>
  <div class='ui-grid-col-10 height100'>
    <div class="ui-grid-col-12 height50 borderBottom" style="margin-top:3px">
      <app-grid [value]="logData" scrollable="true" [scrollHeight]="dataTableHeight">
        <app-column field="commit" header="Description" [style]="{'width':'60%'}" styleClass="truncate"></app-column>
        <app-column field="date" header="Date" [style]="{'width':'13%'}" styleClass="truncate"></app-column>
        <app-column field="name" header="Name" [style]="{'width':'13%'}" styleClass="truncate"></app-column>
        <app-column field="hash" header="Hash" [style]="{'width':'13%'}" styleClass="truncate"></app-column>
      </app-grid>
    </div>
    <div class="ui-grid-col-6 height50 borderRight" id="untrackedfiles">
      <div class="ui-grid-col-12 height50 borderBottom overflowScroll">
        <div class="ui-grid-col-12 backgroundColor borderBottom ">
          <span>Staged Files</span>
          <button pButton label="UnStage All" style="float:right;" (click)="unStageAllClicked()"></button>
        </div>
        <div class="ui-grid-col-12 overflowScroll" style="height:80%;">
          <div class="col-xs-12 filesList" *ngFor="let files of trackedList" (click)="getDiffFile(files.fileName,true)">
            <div class="col-xs-1">{{files.status}}</div>
            <div class=" col-xs-11"><span style="cursor: pointer;">{{files.fileName}} </span></div>
          </div>
        </div>
      </div>
      <div class="ui-grid-col-12 height50 ">
        <div class="ui-grid-col-12 backgroundColor borderBottom ">
          <span>Unstaged Files</span>
          <button pButton label="Stage All" style="float:right;" (click)="stageAllClicked()"></button>
        </div>
        <div class="ui-grid-col-12 overflowScroll" style="height:80%;">
          <div class="col-xs-12 filesList" *ngFor="let files of untrackedList" (click)="getDiffFile(files.fileName,false)">
            <div class="col-xs-1">{{files.status}}</div>
            <div class=" col-xs-11"><span style="cursor: pointer;">{{files.fileName}} </span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-grid-col-6 height50 overflowScroll borderRight" id="codeContainer">

    </div>

  </div>
</div>
<!-- <nav class="navbar navbar-fixed-bottom nav bg-primary">
  <div class="container-fluid">
    Footer Content

  </div>
</nav> -->
<p-dialog header="Clone" [(visible)]="cloneDialog" [modal]="true">
  <p-tabView>
    <p-tabPanel header="Clone Repository">
      <input pInputText type="text" [(ngModel)]="clonePath" placeholder="Clone URL">
      <input pInputText type="text" [(ngModel)]="folderPath" placeholder="Folder URL">
      <button pButton (click)="clone()" label="Clone"></button>
    </p-tabPanel>
    <p-tabPanel header="Browse Existing">
      <input pInputText type="text" [(ngModel)]="existingFolder" placeholder="Clone URL">
      <button pButton (click)="checkExistFolder()" label="Ok"></button>
    </p-tabPanel>
  </p-tabView>

</p-dialog>
<p-dialog header="Commit Message" [(visible)]="commitDialog" [modal]="true">
  <textarea [(ngModel)]="commitMsg" class="commitText"></textarea>
  <p-footer>
    <button pButton label="Ok" (click)="commitClicked()"></button>
    <button pButton label="Cancel" (click)="commitDialog=false;"></button>
  </p-footer>
</p-dialog>
<p-growl [(value)]="growlMsg"></p-growl>
