/* You can add global styles to this file, and also import other style files */

.ui-filter-column {
  float: right;
}

.ui-state-highlight {
  background: #ffe000;
  color: #1c2320;
}

.filterClass {
  z-index: 10000;
  position: absolute;
  position: fixed;
  background: #272A31;
  width: 250px;
  color: white;
  font-weight: bold;
  text-align: left;
}

.filterclose {
  float: right;
  margin-right: 10px;
}

.filterBtnGrp {
  background: #909297;
  float: right;
  width: 100%;
  padding: 5px;
  font-weight: bold;
}

.filterBtnGrp>button {
  float: right;
  margin: 5px;
}

body {
  background: #1C1E23;
}

.headerClass {
  background: #313641;
}

.contentArea {
  margin-top: -20px;
  padding: 0;
  background: #1C1E23;
}

#sidebar {
  background-color: #272A31;
  color: #909297;
}

.headerContent {
  color: white;
  border: none;
  box-shadow: 1px 1px 1px 0.5px white;
}

.height100 {
  height: 100%;
}

.overflowScroll {
  overflow: auto;
}

.height50 {
  height: 50%;
}

.borderBottom {
  border-bottom: 2px solid #313641;
  box-shadow: 1px 1px 1px 0px #272A31;
}

.borderRight {
  border-right: 2px solid #313641;
  box-shadow: 1px 1px 1px 0px #272A31;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color: white;
}

.whiteColor {
  color: white;
}

#untrackedfiles {
  color: #cccccc;
}

.filesList {
  border-bottom: 1px solid #313641;
  padding: 5px 15px;
  cursor: pointer;
}

.filesList:hover {
  background: #ffe000;
  color: black;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-nav>li {
  text-align: center;
}

.navbar-nav>li:hover {
  background: #f58400;
  color: white;
}

.backgroundColor {
  background: #f58400;
  color: black;
}

.fontBold {
  font-weight: bold;
  background: violet;
  color: white;
}

.commitText {
  width: 400px;
  height: 100px;
  color: black;
}

.boldClass>a {
  font-weight: bold;
  background: rebeccapurple
}

#codeContainer {
  color: #f58400;
  position: relative;
}

.d2h-code-linenumber {
  position: relative;
}

.d2h-del {
  background: #841616;
}

.d2h-code-wrapper {
  position: absolute;
  width: 99%;
}

.d2h-file-header {
  display: none;
}

@media (min-width:768px) {
  .refreshBtn {
    float: right !important;
  }
}
